Check price (1).json
{
  "name": "Check price",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "3a0d404f-e59b-463b-93f6-5b7d096a9cf6",
      "name": "Daily 8:00 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "email",
              "value": "<__PLACEHOLDER_VALUE__your_email@example.com__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "emailSubject",
              "value": "=สรุปตลาดการเงินประจำวัน - {{ $now.format('DD MMM YYYY') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dc5def2c-791c-4ebd-b1b5-571a5c2dee72",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-4",
              "name": "Asset",
              "value": "Bitcoin",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "Price",
              "value": "={{ $json.bitcoin.usd }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "04e73a3d-527f-40e0-94b8-2692914f5bcc",
      "name": "Extract Crypto Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "Asset",
              "value": "={{ $json.chart.result[0].meta.symbol === '^GSPC' ? 'S&P 500 (สหรัฐฯ)' : ($json.chart.result[0].meta.symbol === '^SSEC' ? 'SSE Composite (จีน)' : 'Hang Seng (ฮ่องกง)') }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "Price",
              "value": "={{ '$' + $json.chart.result[0].meta.regularMarketPrice.toFixed(2) }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "Change_24h",
              "value": "={{ (($json.chart.result[0].meta.regularMarketPrice - $json.chart.result[0].meta.previousClose) / $json.chart.result[0].meta.previousClose * 100).toFixed(2) + '%' }}",
              "type": "string"
            },
            {
              "id": "28017798-d038-447b-b686-56616c59201a",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "bd91f6b7-3eaf-4096-9f80-2fd6c88298c3",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "7945ba97-41b0-41e6-b4ac-a91e1ba6db9b",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "27614de1-d2fd-4b80-975b-428c0ca71bfb",
      "name": "Extract Stock Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        496
      ]
    },
    {
      "parameters": {},
      "id": "0162812a-9c0a-4805-aab9-f27d34eb6222",
      "name": "Combine All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        400
      ]
    },
    {
      "parameters": {
        "operation": "convertToHtmlTable",
        "options": {}
      },
      "id": "26f5346b-c673-4906-bccf-c55fae03f545",
      "name": "Generate HTML Table",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1376,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "naaydeen9@gmail.com",
        "subject": "={{ $('Workflow Configuration').item.json.emailSubject }}",
        "message": "={{ '<h2>สรุปตลาดการเงินประจำวัน</h2><p>นี่คือสรุปราคาสกุลเงินดิจิทัลและตลาดหุ้นประจำวันของคุณ:</p>' + $json.table + '<p><small>สร้างเมื่อ ' + $now.format('DD MMMM YYYY [เวลา] HH:mm [น.]') + '</small></p>' }}",
        "options": {}
      },
      "id": "59cdb205-dc70-400f-984e-94c62c86859e",
      "name": "Send Email Summary",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1600,
        400
      ],
      "webhookId": "afc896ab-5ab5-40e2-ae44-506d4aaed6d4",
      "credentials": {
        "gmailOAuth2": {
          "id": "VdgcV702Febxhsej",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "options": {}
      },
      "id": "af46ea3a-c805-4413-837e-4b80eaefcb1e",
      "name": "Gold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v8/finance/chart/^GSPC",
        "options": {}
      },
      "id": "e5d1d181-2351-457c-9deb-3708395ce70a",
      "name": "S&P500",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        496
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 8:00 AM Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Gold",
            "type": "main",
            "index": 0
          },
          {
            "node": "S&P500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Crypto Data": {
      "main": [
        [
          {
            "node": "Combine All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Stock Data": {
      "main": [
        [
          {
            "node": "Combine All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine All Data": {
      "main": [
        [
          {
            "node": "Generate HTML Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Table": {
      "main": [
        [
          {
            "node": "Send Email Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gold": {
      "main": [
        [
          {
            "node": "Extract Crypto Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S&P500": {
      "main": [
        [
          {
            "node": "Extract Stock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6114e523-330b-42f5-b7b2-7cd684e6669c",
  "meta": {
    "instanceId": "d48083b4c72f5badaf952f0368d1cb67e6e2b6dbdd669e08b792d21832922732"
  },
  "id": "3MgWYYIsxMol7jv-20_se",
  "tags": []
}