line-bot.json
{
  "name": "3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f3e53983-07e2-4cbb-a946-330ba1e2cfe1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e2b84ba2-d0be-47be-a78a-ea1ca1c31247",
      "name": "Webhook",
      "webhookId": "f3e53983-07e2-4cbb-a946-330ba1e2cfe1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.events[0].message.text }}",
        "options": {
          "systemMessage": "คุณผู้ช่วยตอบคำถามเกี่ยวกับกำหนดการต่าง ๆ ที่อยู่ใน event data ถ้าผู้ใช้งานถามเกี่ยว event data ให้แสดงข้อมูลของ event นั้น โดยใช้ date ซึ่งเห็นวันที่ตามกำหนดการนั้นซึ่งเก็บในรูปแบบ MM/dd/yyyy "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "a8abe689-23d9-4016-83a8-897aedf1c03b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "248226a2-58eb-4b00-b78e-edbe9c4cc8ae",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "meXbA30AZurd6hWu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.events[0].source.userId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "1a2b1ae8-a44d-4ac8-8b01-459ad096f06d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pbdalK5Z5oZmOFOYivODsp54i-WDNIVwc9KckFT50SU",
          "mode": "list",
          "cachedResultName": "events",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pbdalK5Z5oZmOFOYivODsp54i-WDNIVwc9KckFT50SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pbdalK5Z5oZmOFOYivODsp54i-WDNIVwc9KckFT50SU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        208
      ],
      "id": "3df873a5-ffa5-4ddb-88b8-556fdce17645",
      "name": "events data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ypFsp68qoAI0a7lj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "fZ9ZGOzrMA8QvrqCGa+LsMmJnxipBz5Upc4raBA7M/QR/IKOL9/JeNcULFPGseLmG/Lx74nOnErEZIqN7FnQ3pKI+BKmknvoCG9qyitc1wVAZL4UbMU219YTLoqX40rzNIT2pS3G9hf6NJ6oLBmy+gdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"replyToken\":{{ $('Webhook').item.json.body.events[0].replyToken.toJsonString() }},\n\"messages\":[\n{\"type\":\"text\",\n\"text\":{{ $json.output.toJsonString() }}}\n]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "id": "280f4609-6aeb-44ef-b890-00030e999635",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "events data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "098f7fa4-fa96-40e9-9b49-fbd0c2e1773f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6690f299248c03a89cec8fddb7fe8646469edcd6e1e5e9d57c079896b000f098"
  },
  "id": "PpudM61I1GdBAWtL",
  "tags": []
}